.bst-header-wrap {
  height: 100%;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left-nav-elements {
    display: flex;
    align-items: center;
    margin-left: 16px;

    .main-layout-home-icon {
      cursor: pointer;
      margin-right: 27px;
      font-size: 18px;
    }

    .main-layout-back-icon {
      cursor: pointer;
      margin-right: 8px;
      font-size: 18px;
    }

    .back-title {
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
    }
  }

  .bst-header-icon {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;

    .avatar {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      line-height: 24px;
    }

    .bst-badge {
      padding: 8px 2px;
    }
  }

  .bst-header-icon:hover {
    background-color: rgb(0 0 0 / 2.5%);
  }
}